{% extends "main.html" %}
{% load static %}
{% block title %}
  
signup
{% endblock title %}
{% block content %}

<section>
    <form method='POST' action="{% url 'userlogin' %}">
        {% csrf_token %}
        <label for="username">Username</label><br>
        <input type="text"  name="uname"><br>
        <label for="password">password</label><br>
        <input type="password" name="password"><br>
     <label for="conform password">Confirm password</label><br>
        <input type="password" name="cpass"><br>
      <input type="submit"value="login">
    </form>






</section>






{% endblock content %}

